body {
    background-color: rgb(215, 179, 229);
}
h1 {
    font-family:'Rubik Moonrocks', cursive;
    font-size: 40px;
    color: rgb(211, 23, 221);
    text-align: center;
}

p {
    font-family:'Gloria Hallelujah', cursive ;
    color: blueviolet;
    font-size: 20px;
    text-align: center;

}
.pageContainer {
    width: 750px;
    margin: 0 auto;
}

.gameGrid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 100%;
    border: 10px double rgb(243, 240, 240);
    
}

.gameGrid img {
    width: 150px;
    height: 150px;
    
}


